<div class="page-header">
  <%= link_to weapons_types_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New weapons_type</h1>
</div>

<%= render 'form' %>
