<div class="page-header">
  <%= link_to townships_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_township_path(@township), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show township</h1>
</div>

<dl class="dl-horizontal">
  <dt>Id:</dt>
  <dd><%= @township.id %></dd>

  <dt>Description:</dt>
  <dd><%= @township.description %></dd>

</dl>
